* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #fff;
    color: #1D1C39;
    font-family: "Poppins", sans-serif;
}

header {
    font-size: 2rem;
}

header,
form {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 20vh;
}

form input,
form button {
    padding: 0.5rem 1rem;
    border: none;

    background: white;
    font-size: 2rem;
    border-radius: 1rem;
}

.task-input {
    border: 0.3rem solid #1D1C39;
}

input:focus {
    outline: none;
}

form button {
    background: #f7fffe;
    color: #1D1C39;
    cursor: pointer;
    transition: all 0.3s ease;
}

.add-btn {
    margin-left: 1rem;
    border: 0.3rem solid #1D1C39;
}



.task-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-list {
    min-width: 30%;
    list-style: none;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem;
    border: 0.3rem solid #1D1C39;
    background: white;
    color: black;
    font-size: 1.5rem;
    transition: all 1s ease;
    border-radius: 1rem;
}

.task .trash-btn {
    border-radius: 0 0.5rem 0.5rem 0;
}

.task-filter {
    padding: 1rem;
    border: 0.3rem solid #1D1C39;
    font-size: 1rem;
    border-radius: 1rem;
}

.task input {
    flex: 1;
    min-width: 30rem;
    max-width: 50rem;
    overflow: hidden;
    padding: 1rem 0.5rem;
    border: 0;
    background: none;
    font-size: 1rem;
}

.trash-btn,
.complete-btn {
    padding: 1rem;
    border: none;
    color: #1D1C39;
    font-size: 1rem;
    cursor: pointer;
}


.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
}

/*filter option */

select {
    box-shadow: none;
    background-image: none;
    outline: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
}

.option {
    position: relative;
    overflow: hidden;
    margin: 1rem;
}

select {
    color: #1D1C39;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
}

.option::after {
    position: absolute;
    top: 4px;
    right: 3px;
    padding: 0.98rem;
    background: #1D1C39;
    color: #fff;
    content: "\25BC";
    cursor: pointer;
    pointer-events: none;
    border-radius: 0 0.5rem 0.5rem 0;
}

/**All btns */
.all-btn {
    display: flex;
    margin-right: 1.5rem;
    padding: 0 1.5rem;
    border: 0.3rem solid #1D1C39;
    background: #fff;
    gap: 0.5rem;
    border-radius: 1rem;
}

.all-btn button {
    background: #fff;
    color: #1D1C39;
}

.edit-btn {
    padding: 1.1rem 1rem;
        border: none;
    background: grey;
    font-weight: 700;

}

.fas:hover,
button:hover .fas {
    color: black;
}